.Login {
    background-image: url("/public/mountain-bg.jpg");
    background-size: cover;
}

.login-area {
    width: 25%;
    background-color: white;
    padding: 3rem;
    padding-bottom: 1rem;
    margin-bottom: 10rem;
    margin-left: 3rem;
    border-radius: 0% 0% 25px 25px;
}