$darkColor: #000000e1;

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $darkColor;
  display: flex;
  justify-content: center;
  align-items: center;
}