@use 'shared';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// widths

.w-2 {
  @include shared.w($width: 2%);
}

.w-8 {
  @include shared.w($width: 8%);
}

.w-15 {
  @include shared.w($width: 15%);
}

.w-20 {
  @include shared.w($width: 20%);
}

.w-60 {
  @include shared.w($width: 60%);
}

// heights

.h-25 {
  @include shared.h($height: 25%);
}

// util classes

.flex-even {
  flex: 1;
}

.text-justify {
  text-align: justify;
}

:export {
  red: $red;
  green: $green;
  blue: $blue;
  purple: $purple;
  black: $black;
}